.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  >.todo-grid {
    grid-column: 2 / 12;
    .badge {
      pointer-events: all;
      cursor: pointer;
      margin-top: -50px;
    }
  }
  > .json-grid {
    grid-column: 2 / 12;
    grid-row: 2;
  }
}

form {
  &.todo-form {
    display: flex;
    flex-direction: column;
  }
  .right {
    display: flex;
    justify-content: space-between;
    > .form-group {
        margin-bottom: 0;
        margin-top: 5px;
        margin-right: 1rem;
        width: 85%;
    }
    button {
      margin-left: 2rem;
    }
  }
}

@media screen and (max-width: 1311px) {
  .checkbox {
    display: flex;
    > label {
      > input {
        margin-top: 5px;
      }
    }
    button {
      margin-top: -5px;
    }
  }
}
