main {
  height: 100vh;
  background-color: whitesmoke;
  .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    background-color: whitesmoke;
    > .list {
      grid-column: 2 / 7;
      .list-group-item:hover {
        -webkit-box-shadow: 0px 7px 14px -1px rgba(0,0,0,0.66);
        box-shadow: 0px 7px 14px -1px rgba(0,0,0,0.66);
        margin-bottom: 3px;
        background-color: white;
      }
      .badge {
        pointer-events: all;
        cursor: pointer;
        margin-top: -60px;
      }
    }
    .form {
      grid-column: 7 / 12;
    }
    .json {
      grid-column: 2 / 12;
      grid-row: 2;
    }
  }
}
