<navbar></navbar>
<header>
  <hero></hero>
</header>
<main>
  <div class="wrapper">

    <div class="list">
      <div class="list-group" ng-repeat="req in $ctrl.requests">
        <a class="list-group-item" ng-click="$ctrl.patchForm(req)">
          <h4 class="list-group-item-heading">{{req.name}} | {{req.requester}}</h4>
          <h6 class="list-group-item-text">{{req.description}}</h6>
          <h6 class="list-group-item-text">Need help from {{req.assignee}} for the {{req.project}} project</h6>
          <span class="badge">
            <div class="glyphicon glyphicon-remove remove"
                  ng-click="$ctrl.deleteRequest(req.id)"></div>
          </span>
          <p class="list-group-item-text" style="text-align: right;">- <strong>created:</strong> {{req.createdAt}}</p>
        </a>
      </div>
    </div>

    <div class="form">
      <form class="well" name="form" ng-submit="$ctrl.save($ctrl.form)">
        <div class="form-group">
          <label for="requester">Your name...</label>
          <input type="text" class="form-control" id="requester" placeholder="Name*"
          name="requester" ng-model="$ctrl.form.requester" required>
        </div>
        <div class="form-group">
          <label for="assignee">Who you asking?</label>
          <input type="text" class="form-control" id="assignee" placeholder="Assignee's Name*"
          name="assignee" ng-model="$ctrl.form.assignee" required>
        </div>
        <div class="form-group">
          <label for="project">Project</label>
          <input type="text" class="form-control" id="project" placeholder="Project name*"
          name="project" ng-model="$ctrl.form.project" required>
        </div>
        <div class="form-group">
          <label for="name">Short Description</label>
          <input type="text" class="form-control" id="name" placeholder="Description*"
          name="name" ng-model="$ctrl.form.name" required>
        </div>
        <div class="form-group">
          <label for="description">Ask</label>
          <textarea class="form-control" id="description" placeholder="Your Question*"
          name="description" ng-model="$ctrl.form.description" required>
            </textarea>
        </div>
        <div class="form-group">
          <label for="createdAt">Date</label>
          <input type="text" class="form-control" id="createdAt" placeholder="Date of posting*"
          name="createdAt" ng-model="$ctrl.form.createdAt" required>
        </div>
        <button type="submit" class="btn btn-primary active">Submit</button>
        <button type="button" class="btn btn-warning active" ng-click="$ctrl.clearForm($ctrl.form)">Cancel</button>
      </form>

    </div>
    <div class="json">
      <pre>{{ $ctrl.form | json}}</pre>
    </div>
  </div>
</main>
